body {
    font-size: 16px;  /* base font-size */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#grid {
    display: grid;
    grid-template-columns: repeat(10, 5vw); /* Each cell will be 5% of the viewport width */
    gap: 0.5vw; /* Spacing between cells */
    width: 50vw; /* 10 cells * 5vw */
    height: 50vw; /* To ensure a square grid */
}

.cell {
    width: 5vw;
    height: 5vw;
    border: 1px solid #ccc;
    position: relative;
    opacity: 0.2; /* Initially darken all cells */
    transition: opacity 0.2s; /* Optional: For smooth transition of visibility changes */
}

.cell.visible {
    opacity: 1; /* Fully visible cells inside player's FOV */
}

.cell.highlight {
    background-color: rgba(255, 255, 0, 0.3);  /* semi-transparent yellow */
}

.player {
    background-color: blue;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

.item {
    background-color: gold;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    opacity: inherit;   /* Item obscurbed by the isovist */
}

.barrier {
    background-color: #888;  /* Gray color for the barrier */
    z-index: 15;
}

/* For screens where height is less than width */
@media screen and (orientation: landscape) {
    #grid {
        grid-template-columns: repeat(10, 5vh);
        gap: 0.5vh;
        width: 50vh;
        height: 50vh;
    }

    .cell {
        width: 5vh;
        height: 5vh;
    }
}
